.svn
.cvs
*~
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
*.vcproj
*.sln
*.xcodeproj
*.pyc
java/OpenNERO/target
/java/jsyntaxpane/jsyntaxpane/target/
/java/pyrolite-export/nbproject/private
/java/pyrolite/target/